page-login {

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .container {
        display: flex;
        height: 300px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .button {
        bottom: 250px;
        width: 90%;
        height: 70px;
        margin-left: 20px;
    }

}
