page-home {
    ion-content{
        background: #67CBE6 !important;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 90px;
        width: 80%;
    }
}
