// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content {
  font-size: 1.8rem;
  background: #67cbe6 !important;
}

.item-md.item-block .item-inner {
  border-bottom: 0px;
}

.item-md {
  background: #67cbe6;
  border-bottom: 0px;
}

.item-ios {
  background: #67cbe6;
}

ion-input {
  background: #67cbe6;
  border-radius: 20px;
  border: 3px solid lightyellow;
  color: lightyellow;
  padding-left: 20px;
}

ion-datetime {
  background: #67cbe6;
  border-radius: 20px;
  border: 3px solid lightyellow;
  color: lightyellow;
}

ion-icon {
  color: white;
}

.toolbar-background {
  
  background-color: #50a6fb;
}

ion-navbar {
  position: inherit;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.button {
  position: static;
  bottom: 10px;
  left: 0px;
}

.card-md {
  border-radius: 20px;
}

.text-input::-moz-placeholder {
  color: white;
}

.text-input:-ms-input-placeholder {
  color: white;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: white;
}

.datetime-md .datetime-placeholder {
  color: white;
}

.datetime {
  padding-left: 20px;
}

ion-alert {
  &.alert-warning {
    .alert-head {
      background: map-get($colors, warning);
      color: #fff;
      margin-bottom: 10px;
    }
    .alert-wrapper {
      border-radius: 30px;
    }
  }
  &.alert-danger {
    .alert-head {
      background: map-get($colors, danger);
      color: rgb(143, 11, 11);
      margin-bottom: 10px;
    }
    .alert-wrapper {
      border-radius: 30px;
    }
  }
  &.alert-success {
    .alert-head {
      background: map-get($colors, primary);
      color: rgb(255, 255, 255);
      margin-bottom: 10px;
    }
    .alert-wrapper {
      border-radius: 30px;
    }
  }
}

.alert-md {
  .alert-head {
    background: map-get($colors, primary);
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
  }
  .alert-wrapper {
    border-radius: 20px;
  }
}

.alert-ios {
  .alert-head {
    background: map-get($colors, primary);
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
  }
  .alert-wrapper {
    border-radius: 20px;
  }
}
