page-diaria {
  .content-md {
    color: #fff;
  }

  .content-ios {
    color: #fff;
  }

  .text-muted[_ngcontent-c1] {
    color: #000;
  }
  /* .no-events-label[_ngcontent-c0] {
    color: #000;
  } */
  .monthview-selected[_ngcontent-c1] {
      background-color: #97e8bf;
  }

  .monthview-current[_ngcontent-c1] {
    background-color: #50a6fb;
  }

  ion-label {
    visibility: hidden;
  }
}
