<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div><br><br><br></div>
  <ion-card>
    <ion-card-header>
      {{crianca.nome}}
    </ion-card-header>
    <hr>
    <ion-card-content>
      <p>Data de aniversário : {{crianca.dataNascimento | date :  "dd.MM.y"}}</p>
    </ion-card-content>
  </ion-card>
  <br>

  <ion-card>
    <ion-card-header>
      <h2 style="font-weight: bold; text-align: center">Alergias</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-list>

        <ion-item *ngFor="let alergia of crianca.alergias">
          <p>{{alergia}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h2 style="font-weight: bold; text-align: center">Alimentos</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let alimento of crianca.alimentos">
          <p>{{alimento}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h2 style="font-weight: bold; text-align: center">Detalhes sobre {{crianca.nome}}</h2>
    </ion-card-header>
    <ion-card-content>
      {{crianca.descricao}}
    </ion-card-content>
  </ion-card>



</ion-content>