<ion-content padding>
  <ion-card>
    <ion-card-header>
      {{crianca.nome}}
    </ion-card-header>
    <ion-card-content>
      <p>Data de aniversário : {{crianca.dataNascimento | date :  "dd.MM.y"}}</p>
    </ion-card-content>
  </ion-card>
  <br>

  <ion-card>
    <ion-card-header>
      <h2 style="font-weight: bold">Alergias</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-list>

        <ion-item *ngFor="let alergia of crianca.alergias">
          <p>{{alergia}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h2 style="font-weight: bold">Alimentos</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let alimento of crianca.alimentos">
          <p>{{alimento}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>



</ion-content>