page-crianca-detail {

    .card-md {
        border-radius: 20px;
    }

    .item-md {
        background: white;
        border-bottom: 0px;
      }
      
      .item-ios {
        background: white;
      }
}
